<footer>
    <div class="container">
    <% if (locals.crYear) { %>
    <p>Copyright © <%= crYear %>
      Chelmul</p>
    <% } else { %>
      <p>Copyright © Chelmul</p>
      <p>Created with shevabam's <a href="https://github.com/shevabam/breaking-bad-quotes">Breaking Bad Quotes API</a></p>
      <% } %>
    </div>
  </footer>
  </body>
  
  </html>